<%- include("../partials/header") %>

	<div class="row">
		<div class="col-md-3">
			<p class="lead"><%= shelter.name %></p>
			
			<a class="btn btn-xs btn-primary" href="/shelters">Tilbage</a>
		</div>
		<div class="col-md-9">
			<div class="card">
					<img src="<%= shelter.image %>" class="card-img-top" alt="<%= shelter.name %>">
					<div class="card-body">
						<h5 class="card-title"><%= shelter.name %></h5>
							<p>
								<em>Tilføjet af <%= shelter.author.username %>, <%= moment(shelter.createdAt).fromNow() %></em>
							</p>
							<hr>
							<p class="card-text"><%= shelter.description %></p>
							
						<% if(currentUser && shelter.author.id.equals(currentUser._id)){ %>
							<a class="btn btn-xs btn-warning" href="/shelters/<%= shelter._id %>/edit">Rediger</a>
							<form class="delete-form" action="/shelters/<%=shelter._id %>?_method=DELETE" method="POST">
								<button class="btn btn-xs btn-danger">Slet</button>
							</form>
						<% } %>
					</div>
			</div>

			<div class="card">
				<div class="card-body">
					<div class="text-right">
						<a class="btn btn-success" href="/shelters/<%= shelter._id %>/comments/new">Tilføj ny kommentar</a>
					</div>
					<hr>
					<div class="row">
					<% shelter.comments.forEach(function(comment){ %>
						<div class="col-md-12 mb-2">
							<div class="card">
								<div class="card-body">
									<strong><%= comment.author.username %></strong>
									<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
									<p><%= comment.text %></p>
									<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
									<div class="float-right">
										<a class="btn btn-sm btn-warning" href="/shelters/<%=shelter._id %>/comments/<%=comment._id %>/edit">Rediger</a>
										<form class="delete-form" action="/shelters/<%=shelter._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
											<input type ="Submit" class=" btn btn-sm btn-danger" value="Slet">
										</form>	
									</div>
									<% } %>
								</div>	
							</div>
						</div>
					<% }) %>	
				</div>				
			</div>					
		</div>				
	</div>						
							
					
<%- include("../partials/footer") %>