<%- include("partials/header") %>

<h1>
	<%= shelter.name %>
</h1>


<img src=" <%= shelter.image %>">

<p>
	<%= shelter.description %>
</p>

<% shelter.comments.forEach(function(comment){ %>
	<p>
		<strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }) %>

<%- include("partials/footer") %>